form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: solid 1px #ffffff;
    padding-bottom: 10px;
    margin: auto;
    background: rgb(202, 202, 202);
  }
  input[type=textfield] {
      width: 70%;
      padding: 16px 32px;
      font-size: 14px;
      margin: 8px 0;
      border: 1px solid rgb(247, 247, 247);
      border-radius: 1px;
      text-align: left;
      color: #ffffff;
      background: #e4e6e4;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #444444;
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 18px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color:#ffffff;
  }